<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Track</title>
</head>
<body>
	<section>
		<p>Title: {{track.title}}</p>
		<p>Order: {{track.order}}</p>
		<p>File: {{track.track_file}}</p>
		<p>Album: {{track.album}}</p>
		<p>
			Artist: {{track.artist}}
			Biography: {{track.artist.biography}}
		</p>
	</section>
</body>
</html>